{{> head }}
    
    {{> navbar }}

   <div class="row">
       <div class="col-8">
           <h1>About this page</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, incidunt aut quaerat similique officia harum, quisquam dolor cum dolorum ad odio atque commodi illo! Possimus dolorum pariatur culpa id repudiandae! </p>
       </div>

        <div class="col-4">
           <img src="assets/img/img1.jpg" class="img-thumbnail">
           <p>Gonzi</p>
       </div>
   </div>


    {{> footer }}